.loader {
    border: 7px solid #f3f3f3; /* Light grey */
    border-top: 7px solid #513efc; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: none;
    animation: spin 1s infinite;
    
  }


.carga{

padding: 50px;


}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

body{
  font-family: 'Poppins', sans-serif;
}


.posts{

color: seashell;
  background-color: rgb(53, 40, 233);
  width: 500px;
  height: auto;
  padding: 30px;
  border-radius: 5px;
  margin-top: 40px;
  
}

img{

  border-radius: 50%;
  margin-right: 5px;
}